# Project 1 Code

In [1]:
import pulp
import pandas as pd
import numpy as np
from openpyxl import load_workbook

In [2]:
import pandas as pd
from openpyxl import load_workbook

def writeSolution(solution, solution_type, file_path, row_names, col_names, start_row):
    """
    This function writes the solution to the original data file in Excel.
    """
    df = pd.DataFrame(solution, index=row_names, columns=col_names)

    # Step 1: Write DataFrame to Excel
    with pd.ExcelWriter(file_path, engine="openpyxl", mode="a", if_sheet_exists="overlay") as writer:
        df.to_excel(writer, startrow=start_row, startcol=0)

    # Step 2: Modify the Excel file with openpyxl
    wb = load_workbook(file_path)  # Load the workbook
    ws = wb.active  # Select the active sheet

    # Write extra value at C5
    ws["A"+ str(start_row+1)] = solution_type 
    
    # Write solution_type at the start_row in column 1 (A column)
    # ws.cell(row=start_row, column=1, value=solution_type)

    # Save the modified Excel file
    wb.save(file_path)

    return df.astype(int).style.set_caption(solution_type)

In [3]:
def importDemand(file_path):
    """
    This function imports demand from Excel file 
    """
    # Read the entire sheet first
    df = pd.read_excel(file_path, header=None)  # Read without headers to get raw data
    
    # Extract the range (B11:H16) → (row 10 to 15, col 1 to 7) using .iloc
    demand = df.iloc[10:16, 1:8].values  # Convert to NumPy array
    
    return demand

In [4]:
file_path = 'Project1Data.xlsx'

In [5]:
numproducts = 6
numdays = 7

#Begin by setting up your sets for the i and j indices
products = []
for i in range (0,numproducts):
    products.append(i)

days =[]
for j in range (0,numdays):
    days.append(j)

### Add in the parameters

In [6]:

sellprice    = [3000,3500,2800,4000,2400,3000]
mfgcost      = [100,300,200,600,50,250]
materialcost = 2000
inventorycost = 20

namesproduct=['Nails','Screws', 'Pipe', 'Flashing', 'Rebar', 'Conduit']
namesday=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

demands = importDemand(file_path)
# print('Demands = \n', demands)

## Linear Programming

In [7]:
#Then instantiate a problem class, we’ll name it “My LP problem” and we’re looking for an optimal maximum so we use LpMaximize

my_lp_problem = pulp.LpProblem("My LP Problem", pulp.LpMaximize)

#Set up the variables

produced = pulp.LpVariable.dicts("amtproduced", ((i, j) for i in products for j in days), lowBound=0, cat = 'Integer')

inventory = pulp.LpVariable.dicts("amtinventory", ((i, j) for i in products for j in days), lowBound=0, cat = 'Integer')

backorder = pulp.LpVariable.dicts("amtbackorder", ((i, j) for i in products for j in days), lowBound=0, cat = 'Integer')

sold      = pulp.LpVariable.dicts("amtsold", ((i, j) for i in products for j in days), lowBound=0, cat = 'Integer')

# obj and constraints are added using += to the my_lp_problem class.
# Pulp assumes that the the objective function is always given first. 

# Objective
my_lp_problem += pulp.lpSum([sold[i,j]*sellprice[i] for i in products for j in days]) \
                - pulp.lpSum([produced[i,j]*mfgcost[i] for i in products for j in days]) \
                - inventorycost*pulp.lpSum([inventory[i,j] for i in products for j in days]) \
                - pulp.lpSum([backorder[i,j]*0.02*sellprice[i] for i in products for j in days]) \
                - materialcost*pulp.lpSum([produced[i,j] for i in products for j in days ])
# Contraints
## Contraint 1: Each day, the company can process up to 500 tons of steel.  
for j in range(0, len(days)):
    my_lp_problem += pulp.lpSum([produced[i,j] for i in products]) <= 500

## Contraint 2: Can't ship out/sell more than demand
for i in range(0, len(products)):
    for j in range(0, len(days)):
        my_lp_problem += sold[i,j]  <= demands[i][j] 


## Constraint 3a: Flow In = Flow Out for Day 1-6
for i in range(0, len(products)):
    for j in range(1, len(days)):
        my_lp_problem += produced[i,j] + inventory[i,j-1] + backorder[i,j] == sold[i,j] + inventory[i,j] + backorder[i,j-1]

## Constraint 3b: Flow In = Flow Out for Day 0
for i in range(0, len(products)):
    my_lp_problem += produced[i,0] + backorder[i,0] == sold[i,0] + inventory[i,0]

## Constraint 4: No ending inventory
for i in range(0, len(products)):
    my_lp_problem += inventory[i,6] == 0

## Constraint 5: No backlog at the end of the week
for i in range(0, len(products)):
    my_lp_problem += backorder[i,6] == 0


print (my_lp_problem)
pulp.apis.COIN_CMD(gapAbs=.0001)
status=my_lp_problem.solve()
if pulp.LpStatus[my_lp_problem.status] =='Infeasible':
    print ('INFEASIBLE ****************************************')
elif pulp.LpStatus[my_lp_problem.status] =='Unbounded':
    print ('Unbounded ****************************************')

else:
    #This is various ways to display the solution
    for variable in my_lp_problem.variables():
         print ("{} = {}".format(variable.name, variable.varValue))
    print ('\nFeasible\n\nThe objective value is ', pulp.value(my_lp_problem.objective),'\n')
    
    #This only displays non 0s
    for variable in my_lp_problem.variables():
        if variable.varValue>.000001 or variable.varValue<-.00001:
            print ("{} = {}".format(variable.name, variable.varValue))
    print ('\nFeasible\n\nThe objective value is ', pulp.value(my_lp_problem.objective),'\n\n')

/opt/anaconda3/lib/python3.12/site-packages/pulp/pulp.py:1298: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

My_LP_Problem:
MAXIMIZE
-60.0*amtbackorder_(0,_0) + -60.0*amtbackorder_(0,_1) + -60.0*amtbackorder_(0,_2) + -60.0*amtbackorder_(0,_3) + -60.0*amtbackorder_(0,_4) + -60.0*amtbackorder_(0,_5) + -60.0*amtbackorder_(0,_6) + -70.0*amtbackorder_(1,_0) + -70.0*amtbackorder_(1,_1) + -70.0*amtbackorder_(1,_2) + -70.0*amtbackorder_(1,_3) + -70.0*amtbackorder_(1,_4) + -70.0*amtbackorder_(1,_5) + -70.0*amtbackorder_(1,_6) + -56.0*amtbackorder_(2,_0) + -56.0*amtbackorder_(2,_1) + -56.0*amtbackorder_(2,_2) + -56.0*amtbackorder_(2,_3) + -56.0*amtbackorder_(2,_4) + -56.0*amtbackorder_(2,_5) + -56.0*amtbackorder_(2,_6) + -80.0*amtbackorder_(3,_0) + -80.0*amtbackorder_(3,_1) + -80.0*amtbackorder_(3,_2) + -80.0*amtbackorder_(3,_3) + -80.0*amtbackorder_(3,_4) + -80.0*amtbackorder_(3,_5) + -80.0*amtbackorder_(3,_6) + -48.0*amtbackorder_(4,_0) + -48.0*amtbackorder_(4,_1) + -48.0*amtbackorder_(4,_2) + -48.0*amtbackorder_(4,_3) + -48.0*amtbackorder_(4,_4) + -48.0*amtbackorder_(4,_5) + -48.0*amtbackorder_(4,_6) + -60.0*amtbackorder_(5,_0) + -60.0*amtbackorder_(5,_1) + -60.0*amtbackorder_(5,_2) + -60.0*amtbackorder_(5,_3) + -60.0*amtbackorder_(5,_4) + -60.0*amtbackorder_(5,_5) + -60.0*amtbackorder_(5,_6) + -20*amtinventory_(0,_0) + -20*amtinventory_(0,_1) + -20*amtinventory_(0,_2) + -20*amtinventory_(0,_3) + -20*amtinventory_(0,_4) + -20*amtinventory_(0,_5) + -20*amtinventory_(0,_6) + -20*amtinventory_(1,_0) + -20*amtinventory_(1,_1) + -20*amtinventory_(1,_2) + -20*amtinventory_(1,_3) + -20*amtinventory_(1,_4) + -20*amtinventory_(1,_5) + -20*amtinventory_(1,_6) + -20*amtinventory_(2,_0) + -20*amtinventory_(2,_1) + -20*amtinventory_(2,_2) + -20*amtinventory_(2,_3) + -20*amtinventory_(2,_4) + -20*amtinventory_(2,_5) + -20*amtinventory_(2,_6) + -20*amtinventory_(3,_0) + -20*amtinventory_(3,_1) + -20*amtinventory_(3,_2) + -20*amtinventory_(3,_3) + -20*amtinventory_(3,_4) + -20*amtinventory_(3,_5) + -20*amtinventory_(3,_6) + -20*amtinventory_(4,_0) + -20*amtinventory_(4,_1) + -20*amtinventory_(4,_2) + -20*amtinventory_(4,_3) + -20*amtinventory_(4,_4) + -20*amtinventory_(4,_5) + -20*amtinventory_(4,_6) + -20*amtinventory_(5,_0) + -20*amtinventory_(5,_1) + -20*amtinventory_(5,_2) + -20*amtinventory_(5,_3) + -20*amtinventory_(5,_4) + -20*amtinventory_(5,_5) + -20*amtinventory_(5,_6) + -2100*amtproduced_(0,_0) + -2100*amtproduced_(0,_1) + -2100*amtproduced_(0,_2) + -2100*amtproduced_(0,_3) + -2100*amtproduced_(0,_4) + -2100*amtproduced_(0,_5) + -2100*amtproduced_(0,_6) + -2300*amtproduced_(1,_0) + -2300*amtproduced_(1,_1) + -2300*amtproduced_(1,_2) + -2300*amtproduced_(1,_3) + -2300*amtproduced_(1,_4) + -2300*amtproduced_(1,_5) + -2300*amtproduced_(1,_6) + -2200*amtproduced_(2,_0) + -2200*amtproduced_(2,_1) + -2200*amtproduced_(2,_2) + -2200*amtproduced_(2,_3) + -2200*amtproduced_(2,_4) + -2200*amtproduced_(2,_5) + -2200*amtproduced_(2,_6) + -2600*amtproduced_(3,_0) + -2600*amtproduced_(3,_1) + -2600*amtproduced_(3,_2) + -2600*amtproduced_(3,_3) + -2600*amtproduced_(3,_4) + -2600*amtproduced_(3,_5) + -2600*amtproduced_(3,_6) + -2050*amtproduced_(4,_0) + -2050*amtproduced_(4,_1) + -2050*amtproduced_(4,_2) + -2050*amtproduced_(4,_3) + -2050*amtproduced_(4,_4) + -2050*amtproduced_(4,_5) + -2050*amtproduced_(4,_6) + -2250*amtproduced_(5,_0) + -2250*amtproduced_(5,_1) + -2250*amtproduced_(5,_2) + -2250*amtproduced_(5,_3) + -2250*amtproduced_(5,_4) + -2250*amtproduced_(5,_5) + -2250*amtproduced_(5,_6) + 3000*amtsold_(0,_0) + 3000*amtsold_(0,_1) + 3000*amtsold_(0,_2) + 3000*amtsold_(0,_3) + 3000*amtsold_(0,_4) + 3000*amtsold_(0,_5) + 3000*amtsold_(0,_6) + 3500*amtsold_(1,_0) + 3500*amtsold_(1,_1) + 3500*amtsold_(1,_2) + 3500*amtsold_(1,_3) + 3500*amtsold_(1,_4) + 3500*amtsold_(1,_5) + 3500*amtsold_(1,_6) + 2800*amtsold_(2,_0) + 2800*amtsold_(2,_1) + 2800*amtsold_(2,_2) + 2800*amtsold_(2,_3) + 2800*amtsold_(2,_4) + 2800*amtsold_(2,_5) + 2800*amtsold_(2,_6) + 4000*amtsold_(3,_0) + 4000*amtsold_(3,_1) + 4000*amtsold_(3,_2) + 4000*amtsold_(3,_3) + 4000*amtsold_(3,_4) + 4000*amtsold_(3,_5) + 4000*amtsold_(3,_6) + 2400*amtsold_(4,_0) + 2400*amtsold_(4,_1) + 2400*amtsold_(4,_2) + 2400*amtsold_(4,_3) + 2400*amtsold_(4,_4) + 2400*amtsold_(4,_5) + 2400*amtsold_(4,_6) + 3000*amtsold_(5,_0) + 3000*amtsold_(5,_1) + 3000*amtsold_(5,_2) + 3000*amtsold_(5,_3) + 3000*amtsold_(5,_4) + 3000*amtsold_(5,_5) + 3000*amtsold_(5,_6) + 0.0
SUBJECT TO
_C1: amtproduced_(0,_0) + amtproduced_(1,_0) + amtproduced_(2,_0)
 + amtproduced_(3,_0) + amtproduced_(4,_0) + amtproduced_(5,_0) <= 500

_C2: amtproduced_(0,_1) + amtproduced_(1,_1) + amtproduced_(2,_1)
 + amtproduced_(3,_1) + amtproduced_(4,_1) + amtproduced_(5,_1) <= 500

_C3: amtproduced_(0,_2) + amtproduced_(1,_2) + amtproduced_(2,_2)
 + amtproduced_(3,_2) + amtproduced_(4,_2) + amtproduced_(5,_2) <= 500

_C4: amtproduced_(0,_3) + amtproduced_(1,_3) + amtproduced_(2,_3)
 + amtproduced_(3,_3) + amtproduced_(4,_3) + amtproduced_(5,_3) <= 500

_C5: amtproduced_(0,_4) + amtproduced_(1,_4) + amtproduced_(2,_4)
 + amtproduced_(3,_4) + amtproduced_(4,_4) + amtproduced_(5,_4) <= 500

_C6: amtproduced_(0,_5) + amtproduced_(1,_5) + amtproduced_(2,_5)
 + amtproduced_(3,_5) + amtproduced_(4,_5) + amtproduced_(5,_5) <= 500

_C7: amtproduced_(0,_6) + amtproduced_(1,_6) + amtproduced_(2,_6)
 + amtproduced_(3,_6) + amtproduced_(4,_6) + amtproduced_(5,_6) <= 500

_C8: amtsold_(0,_0) <= 50

_C9: amtsold_(0,_1) <= 40

_C10: amtsold_(0,_2) <= 60

_C11: amtsold_(0,_3) <= 40

_C12: amtsold_(0,_4) <= 50

_C13: amtsold_(0,_5) <= 30

_C14: amtsold_(0,_6) <= 30

_C15: amtsold_(1,_0) <= 90

_C16: amtsold_(1,_1) <= 70

_C17: amtsold_(1,_2) <= 80

_C18: amtsold_(1,_3) <= 70

_C19: amtsold_(1,_4) <= 70

_C20: amtsold_(1,_5) <= 40

_C21: amtsold_(1,_6) <= 40

_C22: amtsold_(2,_0) <= 90

_C23: amtsold_(2,_1) <= 60

_C24: amtsold_(2,_2) <= 70

_C25: amtsold_(2,_3) <= 60

_C26: amtsold_(2,_4) <= 80

_C27: amtsold_(2,_5) <= 40

_C28: amtsold_(2,_6) <= 30

_C29: amtsold_(3,_0) <= 70

_C30: amtsold_(3,_1) <= 60

_C31: amtsold_(3,_2) <= 80

_C32: amtsold_(3,_3) <= 40

_C33: amtsold_(3,_4) <= 120

_C34: amtsold_(3,_5) <= 60

_C35: amtsold_(3,_6) <= 30

_C36: amtsold_(4,_0) <= 250

_C37: amtsold_(4,_1) <= 75

_C38: amtsold_(4,_2) <= 75

_C39: amtsold_(4,_3) <= 75

_C40: amtsold_(4,_4) <= 300

_C41: amtsold_(4,_5) <= 75

_C42: amtsold_(4,_6) <= 75

_C43: amtsold_(5,_0) <= 150

_C44: amtsold_(5,_1) <= 0

_C45: amtsold_(5,_2) <= 0

_C46: amtsold_(5,_3) <= 0

_C47: amtsold_(5,_4) <= 150

_C48: amtsold_(5,_5) <= 0

_C49: amtsold_(5,_6) <= 0

_C50: - amtbackorder_(0,_0) + amtbackorder_(0,_1) + amtinventory_(0,_0)
 - amtinventory_(0,_1) + amtproduced_(0,_1) - amtsold_(0,_1) = 0

_C51: - amtbackorder_(0,_1) + amtbackorder_(0,_2) + amtinventory_(0,_1)
 - amtinventory_(0,_2) + amtproduced_(0,_2) - amtsold_(0,_2) = 0

_C52: - amtbackorder_(0,_2) + amtbackorder_(0,_3) + amtinventory_(0,_2)
 - amtinventory_(0,_3) + amtproduced_(0,_3) - amtsold_(0,_3) = 0

_C53: - amtbackorder_(0,_3) + amtbackorder_(0,_4) + amtinventory_(0,_3)
 - amtinventory_(0,_4) + amtproduced_(0,_4) - amtsold_(0,_4) = 0

_C54: - amtbackorder_(0,_4) + amtbackorder_(0,_5) + amtinventory_(0,_4)
 - amtinventory_(0,_5) + amtproduced_(0,_5) - amtsold_(0,_5) = 0

_C55: - amtbackorder_(0,_5) + amtbackorder_(0,_6) + amtinventory_(0,_5)
 - amtinventory_(0,_6) + amtproduced_(0,_6) - amtsold_(0,_6) = 0

_C56: - amtbackorder_(1,_0) + amtbackorder_(1,_1) + amtinventory_(1,_0)
 - amtinventory_(1,_1) + amtproduced_(1,_1) - amtsold_(1,_1) = 0

_C57: - amtbackorder_(1,_1) + amtbackorder_(1,_2) + amtinventory_(1,_1)
 - amtinventory_(1,_2) + amtproduced_(1,_2) - amtsold_(1,_2) = 0

_C58: - amtbackorder_(1,_2) + amtbackorder_(1,_3) + amtinventory_(1,_2)
 - amtinventory_(1,_3) + amtproduced_(1,_3) - amtsold_(1,_3) = 0

_C59: - amtbackorder_(1,_3) + amtbackorder_(1,_4) + amtinventory_(1,_3)
 - amtinventory_(1,_4) + amtproduced_(1,_4) - amtsold_(1,_4) = 0

_C60: - amtbackorder_(1,_4) + amtbackorder_(1,_5) + amtinventory_(1,_4)
 - amtinventory_(1,_5) + amtproduced_(1,_5) - amtsold_(1,_5) = 0

_C61: - amtbackorder_(1,_5) + amtbackorder_(1,_6) + amtinventory_(1,_5)
 - amtinventory_(1,_6) + amtproduced_(1,_6) - amtsold_(1,_6) = 0

_C62: - amtbackorder_(2,_0) + amtbackorder_(2,_1) + amtinventory_(2,_0)
 - amtinventory_(2,_1) + amtproduced_(2,_1) - amtsold_(2,_1) = 0

_C63: - amtbackorder_(2,_1) + amtbackorder_(2,_2) + amtinventory_(2,_1)
 - amtinventory_(2,_2) + amtproduced_(2,_2) - amtsold_(2,_2) = 0

_C64: - amtbackorder_(2,_2) + amtbackorder_(2,_3) + amtinventory_(2,_2)
 - amtinventory_(2,_3) + amtproduced_(2,_3) - amtsold_(2,_3) = 0

_C65: - amtbackorder_(2,_3) + amtbackorder_(2,_4) + amtinventory_(2,_3)
 - amtinventory_(2,_4) + amtproduced_(2,_4) - amtsold_(2,_4) = 0

_C66: - amtbackorder_(2,_4) + amtbackorder_(2,_5) + amtinventory_(2,_4)
 - amtinventory_(2,_5) + amtproduced_(2,_5) - amtsold_(2,_5) = 0

_C67: - amtbackorder_(2,_5) + amtbackorder_(2,_6) + amtinventory_(2,_5)
 - amtinventory_(2,_6) + amtproduced_(2,_6) - amtsold_(2,_6) = 0

_C68: - amtbackorder_(3,_0) + amtbackorder_(3,_1) + amtinventory_(3,_0)
 - amtinventory_(3,_1) + amtproduced_(3,_1) - amtsold_(3,_1) = 0

_C69: - amtbackorder_(3,_1) + amtbackorder_(3,_2) + amtinventory_(3,_1)
 - amtinventory_(3,_2) + amtproduced_(3,_2) - amtsold_(3,_2) = 0

_C70: - amtbackorder_(3,_2) + amtbackorder_(3,_3) + amtinventory_(3,_2)
 - amtinventory_(3,_3) + amtproduced_(3,_3) - amtsold_(3,_3) = 0

_C71: - amtbackorder_(3,_3) + amtbackorder_(3,_4) + amtinventory_(3,_3)
 - amtinventory_(3,_4) + amtproduced_(3,_4) - amtsold_(3,_4) = 0

_C72: - amtbackorder_(3,_4) + amtbackorder_(3,_5) + amtinventory_(3,_4)
 - amtinventory_(3,_5) + amtproduced_(3,_5) - amtsold_(3,_5) = 0

_C73: - amtbackorder_(3,_5) + amtbackorder_(3,_6) + amtinventory_(3,_5)
 - amtinventory_(3,_6) + amtproduced_(3,_6) - amtsold_(3,_6) = 0

_C74: - amtbackorder_(4,_0) + amtbackorder_(4,_1) + amtinventory_(4,_0)
 - amtinventory_(4,_1) + amtproduced_(4,_1) - amtsold_(4,_1) = 0

_C75: - amtbackorder_(4,_1) + amtbackorder_(4,_2) + amtinventory_(4,_1)
 - amtinventory_(4,_2) + amtproduced_(4,_2) - amtsold_(4,_2) = 0

_C76: - amtbackorder_(4,_2) + amtbackorder_(4,_3) + amtinventory_(4,_2)
 - amtinventory_(4,_3) + amtproduced_(4,_3) - amtsold_(4,_3) = 0

_C77: - amtbackorder_(4,_3) + amtbackorder_(4,_4) + amtinventory_(4,_3)
 - amtinventory_(4,_4) + amtproduced_(4,_4) - amtsold_(4,_4) = 0

_C78: - amtbackorder_(4,_4) + amtbackorder_(4,_5) + amtinventory_(4,_4)
 - amtinventory_(4,_5) + amtproduced_(4,_5) - amtsold_(4,_5) = 0

_C79: - amtbackorder_(4,_5) + amtbackorder_(4,_6) + amtinventory_(4,_5)
 - amtinventory_(4,_6) + amtproduced_(4,_6) - amtsold_(4,_6) = 0

_C80: - amtbackorder_(5,_0) + amtbackorder_(5,_1) + amtinventory_(5,_0)
 - amtinventory_(5,_1) + amtproduced_(5,_1) - amtsold_(5,_1) = 0

_C81: - amtbackorder_(5,_1) + amtbackorder_(5,_2) + amtinventory_(5,_1)
 - amtinventory_(5,_2) + amtproduced_(5,_2) - amtsold_(5,_2) = 0

_C82: - amtbackorder_(5,_2) + amtbackorder_(5,_3) + amtinventory_(5,_2)
 - amtinventory_(5,_3) + amtproduced_(5,_3) - amtsold_(5,_3) = 0

_C83: - amtbackorder_(5,_3) + amtbackorder_(5,_4) + amtinventory_(5,_3)
 - amtinventory_(5,_4) + amtproduced_(5,_4) - amtsold_(5,_4) = 0

_C84: - amtbackorder_(5,_4) + amtbackorder_(5,_5) + amtinventory_(5,_4)
 - amtinventory_(5,_5) + amtproduced_(5,_5) - amtsold_(5,_5) = 0

_C85: - amtbackorder_(5,_5) + amtbackorder_(5,_6) + amtinventory_(5,_5)
 - amtinventory_(5,_6) + amtproduced_(5,_6) - amtsold_(5,_6) = 0

_C86: amtbackorder_(0,_0) - amtinventory_(0,_0) + amtproduced_(0,_0)
 - amtsold_(0,_0) = 0

_C87: amtbackorder_(1,_0) - amtinventory_(1,_0) + amtproduced_(1,_0)
 - amtsold_(1,_0) = 0

_C88: amtbackorder_(2,_0) - amtinventory_(2,_0) + amtproduced_(2,_0)
 - amtsold_(2,_0) = 0

_C89: amtbackorder_(3,_0) - amtinventory_(3,_0) + amtproduced_(3,_0)
 - amtsold_(3,_0) = 0

_C90: amtbackorder_(4,_0) - amtinventory_(4,_0) + amtproduced_(4,_0)
 - amtsold_(4,_0) = 0

_C91: amtbackorder_(5,_0) - amtinventory_(5,_0) + amtproduced_(5,_0)
 - amtsold_(5,_0) = 0

_C92: amtinventory_(0,_6) = 0

_C93: amtinventory_(1,_6) = 0

_C94: amtinventory_(2,_6) = 0

_C95: amtinventory_(3,_6) = 0

_C96: amtinventory_(4,_6) = 0

_C97: amtinventory_(5,_6) = 0

_C98: amtbackorder_(0,_6) = 0

_C99: amtbackorder_(1,_6) = 0

_C100: amtbackorder_(2,_6) = 0

_C101: amtbackorder_(3,_6) = 0

_C102: amtbackorder_(4,_6) = 0

_C103: amtbackorder_(5,_6) = 0

VARIABLES
0 <= amtbackorder_(0,_0) Integer
0 <= amtbackorder_(0,_1) Integer
0 <= amtbackorder_(0,_2) Integer
0 <= amtbackorder_(0,_3) Integer
0 <= amtbackorder_(0,_4) Integer
0 <= amtbackorder_(0,_5) Integer
0 <= amtbackorder_(0,_6) Integer
0 <= amtbackorder_(1,_0) Integer
0 <= amtbackorder_(1,_1) Integer
0 <= amtbackorder_(1,_2) Integer
0 <= amtbackorder_(1,_3) Integer
0 <= amtbackorder_(1,_4) Integer
0 <= amtbackorder_(1,_5) Integer
0 <= amtbackorder_(1,_6) Integer
0 <= amtbackorder_(2,_0) Integer
0 <= amtbackorder_(2,_1) Integer
0 <= amtbackorder_(2,_2) Integer
0 <= amtbackorder_(2,_3) Integer
0 <= amtbackorder_(2,_4) Integer
0 <= amtbackorder_(2,_5) Integer
0 <= amtbackorder_(2,_6) Integer
0 <= amtbackorder_(3,_0) Integer
0 <= amtbackorder_(3,_1) Integer
0 <= amtbackorder_(3,_2) Integer
0 <= amtbackorder_(3,_3) Integer
0 <= amtbackorder_(3,_4) Integer
0 <= amtbackorder_(3,_5) Integer
0 <= amtbackorder_(3,_6) Integer
0 <= amtbackorder_(4,_0) Integer
0 <= amtbackorder_(4,_1) Integer
0 <= amtbackorder_(4,_2) Integer
0 <= amtbackorder_(4,_3) Integer
0 <= amtbackorder_(4,_4) Integer
0 <= amtbackorder_(4,_5) Integer
0 <= amtbackorder_(4,_6) Integer
0 <= amtbackorder_(5,_0) Integer
0 <= amtbackorder_(5,_1) Integer
0 <= amtbackorder_(5,_2) Integer
0 <= amtbackorder_(5,_3) Integer
0 <= amtbackorder_(5,_4) Integer
0 <= amtbackorder_(5,_5) Integer
0 <= amtbackorder_(5,_6) Integer
0 <= amtinventory_(0,_0) Integer
0 <= amtinventory_(0,_1) Integer
0 <= amtinventory_(0,_2) Integer
0 <= amtinventory_(0,_3) Integer
0 <= amtinventory_(0,_4) Integer
0 <= amtinventory_(0,_5) Integer
0 <= amtinventory_(0,_6) Integer
0 <= amtinventory_(1,_0) Integer
0 <= amtinventory_(1,_1) Integer
0 <= amtinventory_(1,_2) Integer
0 <= amtinventory_(1,_3) Integer
0 <= amtinventory_(1,_4) Integer
0 <= amtinventory_(1,_5) Integer
0 <= amtinventory_(1,_6) Integer
0 <= amtinventory_(2,_0) Integer
0 <= amtinventory_(2,_1) Integer
0 <= amtinventory_(2,_2) Integer
0 <= amtinventory_(2,_3) Integer
0 <= amtinventory_(2,_4) Integer
0 <= amtinventory_(2,_5) Integer
0 <= amtinventory_(2,_6) Integer
0 <= amtinventory_(3,_0) Integer
0 <= amtinventory_(3,_1) Integer
0 <= amtinventory_(3,_2) Integer
0 <= amtinventory_(3,_3) Integer
0 <= amtinventory_(3,_4) Integer
0 <= amtinventory_(3,_5) Integer
0 <= amtinventory_(3,_6) Integer
0 <= amtinventory_(4,_0) Integer
0 <= amtinventory_(4,_1) Integer
0 <= amtinventory_(4,_2) Integer
0 <= amtinventory_(4,_3) Integer
0 <= amtinventory_(4,_4) Integer
0 <= amtinventory_(4,_5) Integer
0 <= amtinventory_(4,_6) Integer
0 <= amtinventory_(5,_0) Integer
0 <= amtinventory_(5,_1) Integer
0 <= amtinventory_(5,_2) Integer
0 <= amtinventory_(5,_3) Integer
0 <= amtinventory_(5,_4) Integer
0 <= amtinventory_(5,_5) Integer
0 <= amtinventory_(5,_6) Integer
0 <= amtproduced_(0,_0) Integer
0 <= amtproduced_(0,_1) Integer
0 <= amtproduced_(0,_2) Integer
0 <= amtproduced_(0,_3) Integer
0 <= amtproduced_(0,_4) Integer
0 <= amtproduced_(0,_5) Integer
0 <= amtproduced_(0,_6) Integer
0 <= amtproduced_(1,_0) Integer
0 <= amtproduced_(1,_1) Integer
0 <= amtproduced_(1,_2) Integer
0 <= amtproduced_(1,_3) Integer
0 <= amtproduced_(1,_4) Integer
0 <= amtproduced_(1,_5) Integer
0 <= amtproduced_(1,_6) Integer
0 <= amtproduced_(2,_0) Integer
0 <= amtproduced_(2,_1) Integer
0 <= amtproduced_(2,_2) Integer
0 <= amtproduced_(2,_3) Integer
0 <= amtproduced_(2,_4) Integer
0 <= amtproduced_(2,_5) Integer
0 <= amtproduced_(2,_6) Integer
0 <= amtproduced_(3,_0) Integer
0 <= amtproduced_(3,_1) Integer
0 <= amtproduced_(3,_2) Integer
0 <= amtproduced_(3,_3) Integer
0 <= amtproduced_(3,_4) Integer
0 <= amtproduced_(3,_5) Integer
0 <= amtproduced_(3,_6) Integer
0 <= amtproduced_(4,_0) Integer
0 <= amtproduced_(4,_1) Integer
0 <= amtproduced_(4,_2) Integer
0 <= amtproduced_(4,_3) Integer
0 <= amtproduced_(4,_4) Integer
0 <= amtproduced_(4,_5) Integer
0 <= amtproduced_(4,_6) Integer
0 <= amtproduced_(5,_0) Integer
0 <= amtproduced_(5,_1) Integer
0 <= amtproduced_(5,_2) Integer
0 <= amtproduced_(5,_3) Integer
0 <= amtproduced_(5,_4) Integer
0 <= amtproduced_(5,_5) Integer
0 <= amtproduced_(5,_6) Integer
0 <= amtsold_(0,_0) Integer
0 <= amtsold_(0,_1) Integer
0 <= amtsold_(0,_2) Integer
0 <= amtsold_(0,_3) Integer
0 <= amtsold_(0,_4) Integer
0 <= amtsold_(0,_5) Integer
0 <= amtsold_(0,_6) Integer
0 <= amtsold_(1,_0) Integer
0 <= amtsold_(1,_1) Integer
0 <= amtsold_(1,_2) Integer
0 <= amtsold_(1,_3) Integer
0 <= amtsold_(1,_4) Integer
0 <= amtsold_(1,_5) Integer
0 <= amtsold_(1,_6) Integer
0 <= amtsold_(2,_0) Integer
0 <= amtsold_(2,_1) Integer
0 <= amtsold_(2,_2) Integer
0 <= amtsold_(2,_3) Integer
0 <= amtsold_(2,_4) Integer
0 <= amtsold_(2,_5) Integer
0 <= amtsold_(2,_6) Integer
0 <= amtsold_(3,_0) Integer
0 <= amtsold_(3,_1) Integer
0 <= amtsold_(3,_2) Integer
0 <= amtsold_(3,_3) Integer
0 <= amtsold_(3,_4) Integer
0 <= amtsold_(3,_5) Integer
0 <= amtsold_(3,_6) Integer
0 <= amtsold_(4,_0) Integer
0 <= amtsold_(4,_1) Integer
0 <= amtsold_(4,_2) Integer
0 <= amtsold_(4,_3) Integer
0 <= amtsold_(4,_4) Integer
0 <= amtsold_(4,_5) Integer
0 <= amtsold_(4,_6) Integer
0 <= amtsold_(5,_0) Integer
0 <= amtsold_(5,_1) Integer
0 <= amtsold_(5,_2) Integer
0 <= amtsold_(5,_3) Integer
0 <= amtsold_(5,_4) Integer
0 <= amtsold_(5,_5) Integer
0 <= amtsold_(5,_6) Integer

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /opt/anaconda3/lib/python3.12/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/x2/7_89wkws12d5tn83_x0dc2580000gn/T/883f5983d117451c8edb4a835e76c403-pulp.mps -max -timeMode elapsed -branch -printingOptions all -solution /var/folders/x2/7_89wkws12d5tn83_x0dc2580000gn/T/883f5983d117451c8edb4a835e76c403-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 108 COLUMNS
At line 949 RHS
At line 1053 BOUNDS
At line 1222 ENDATA
Problem MODEL has 103 rows, 168 columns and 336 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 2.25641e+06 - 0.00 seconds
Cgl0003I 0 fixed, 68 tightened bounds, 0 strengthened rows, 0 substitutions
Cgl0004I processed model has 47 rows, 147 columns (147 integer (0 of which binary)) and 257 elements
Cutoff increment increased from 1e-05 to 1.9999
Cbc0012I Integer solution of -2256410 found by DiveCoefficient after 0 iterations and 0 nodes (0.03 seconds)
Cbc0001I Search completed - best objective -2256410, took 0 iterations and 0 nodes (0.03 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -2.25641e+06 to -2.25641e+06
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found


### Extract Data

In [16]:


soln_product = np.zeros((len(products), len(days))) 
soln_inventory = np.zeros((len(products), len(days))) 
soln_backorder = np.zeros((len(products), len(days))) 
soln_sold = np.zeros((len(products), len(days))) 

for i in range(len(products)):
    for j in range(len(days)):
        soln_product[i, j] = int(produced[i, j].varValue ) 
        soln_inventory[i, j] = inventory[i, j].varValue  
        soln_backorder[i, j] = backorder[i, j].varValue  
        soln_sold[i, j] = sold[i, j].varValue  

print('Produced \n',soln_product,'\n')
print('Inventory \n',soln_inventory,'\n')
print('Back order \n',soln_backorder,'\n')
print('Sold \n',soln_sold,'\n')
print('Demand \n',demands,'\n')

Produced
 [[ 50.  40.  60.  90.   0.  30.  30.]
 [ 90.  70.  80.  70.  70.  40.  40.]
 [ 90.  60. 125.   5.  80.  40.  30.]
 [ 70.  60.  80. 160.   0.  60.  30.]
 [ 50. 270.  80. 175. 200.  75.  75.]
 [150.   0.   0.   0. 150.   0.   0.]]

Inventory
 [[  0.   0.   0.  50.   0.   0.   0.]
 [  0.   0.   0.   0.   0.   0.   0.]
 [  0.   0.  55.   0.   0.   0.   0.]
 [  0.   0.   0. 120.   0.   0.   0.]
 [  0.   0.   0. 100.   0.   0.   0.]
 [  0.   0.   0.   0.   0.   0.   0.]]

Back order
 [[  0.   0.   0.   0.   0.   0.   0.]
 [  0.   0.   0.   0.   0.   0.   0.]
 [  0.   0.   0.   0.   0.   0.   0.]
 [  0.   0.   0.   0.   0.   0.   0.]
 [200.   5.   0.   0.   0.   0.   0.]
 [  0.   0.   0.   0.   0.   0.   0.]]

Sold
 [[ 50.  40.  60.  40.  50.  30.  30.]
 [ 90.  70.  80.  70.  70.  40.  40.]
 [ 90.  60.  70.  60.  80.  40.  30.]
 [ 70.  60.  80.  40. 120.  60.  30.]
 [250.  75.  75.  75. 300.  75.  75.]
 [150.   0.   0.   0. 150.   0.   0.]]

Demand
 [[50 40 60 40 50 30 30]
 [90 70 80 70 70 40 40]
 [90 60 70 60 80 40 30]
 [70 60 80 40 120 60 30]
 [250 75 75 75 300 75 75]
 [150 0 0 0 150 0 0]]

## Sanity check

In [17]:
revenue = np.zeros(len(products))
for i in range(len(products)):
    for j in range(len(days)):
        revenue[i] += sold[i,j].varValue*sellprice[i] - produced[i,j].varValue*mfgcost[i] - 20*inventory[i,j].varValue \
                           - backorder[i,j].varValue*0.02*sellprice[i] - materialcost*produced[i,j].varValue
print((revenue))
print(np.sum(revenue))

[269000. 552000. 256900. 641600. 311910. 225000.]
2256410.0

## Presenting tables

In [18]:
writeSolution(soln_sold,'Sold', file_path, namesproduct, namesday, 30)
writeSolution(soln_inventory,'Inventory', file_path, namesproduct, namesday, 39)
writeSolution(soln_backorder,'Backorder', file_path, namesproduct, namesday, 48)
writeSolution(soln_product,'Production', file_path, namesproduct, namesday, 21)

In [19]:
writeSolution(soln_sold,'Sold', file_path, namesproduct, namesday, 30)

In [20]:
writeSolution(soln_inventory,'Inventory', file_path, namesproduct, namesday, 39)

In [21]:
writeSolution(soln_backorder,'Backorder', file_path, namesproduct, namesday, 48)